body{
  background-color: #FBFBF6;
  color: #B15C65;
}
/* ここから名前入力欄、ボタン、時間表示のcssを記述してます。 */
/* middleの全体のサイズ */
.m_middle{
  height: 20vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

/* 名前入力欄 */
.m_middle input{
  height: 25%;
  width: 60%;
  margin: auto 0;
  border: solid 2px #B15C65;
}

/* クッリクされた際のボーダーの枠の変化 */
input[type="text"]:focus {
  outline: solid 2px #B15C65;
  border-color: transparent;
}

/* 名前入力欄の文字の位置、カラー、サイズ */
.m_middle input::placeholder{
  text-align: center;
  color: #B15C65;
  font-size: large;
}

/*  */
.m_start{
  height: 29%;
  width: 20%;
  background-color: #FBFBF6;
  font-size: large;
  color: #B15C65;
  border: solid 2px #B15C65;
}